extends layout

block content
 h1= title

 form(id='islandsForm', action="/resource/islands", method="POST")
   div.form-group
        label.islandsAttr(for='island_name') island_name 
        input#island_name(type='text', name='island_name')
   div.form-group
        label.islandsAttr(for='island_location') island_location
        input#island_location(type='text', name='island_location')
   div.form-group
        label.islandsAttr(for='number_of_visitors') number_of_visitors
        input#number_of_visitors(type='number', name='number_of_visitors')
        input(type="submit")
 script.
   document.forms['islandsForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
    alert("Save succeded")
    // TODO handle body
   }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
   });
  });